@using PagedList.Mvc
@model PagedList.IPagedList<NLayer.Application.UserSystemModule.DTOs.MenuDTO>
    @{
        ViewBag.Title = "菜单管理";
        var menuName = ViewBag.MenuName;
    }


    <div id="content-header">
        <h1>首页 - 菜单管理 </h1>
    </div>
    <div id="breadcrumb">
        <a href="@Url.Action("Index", "Home", new { area = "" }, null)" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
        <a href="@Url.Action("Index")">菜单管理</a>

    </div>
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                @using (Ajax.BeginForm("SearchMenu", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ajaxRequestSuccess" }, new { @class = "form-inline" }))
                {
                    <section>
                        <input type="text" name="menuName" id="menuName" class="input-medium" placeholder="菜单名称" value="@menuName">&nbsp; &nbsp;
                        <button type="submit" class="btn btn-primary">查询</button>&nbsp; &nbsp;
                        <a href="@Url.Action("EditMenu")" class="btn btn-success" id="addnew">新增菜单</a>
                    </section>
                }
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>菜单名称</th>
                                    <th>菜单代码</th>
                                    <th>菜单链接</th>
                                    <th>模块</th>
                                    <th>排序</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Code</td>
                                        <td>@item.Url</td>
                                        <td>@item.Module</td>
                                        <td>@item.SortOrder</td>
                                        <td>@item.Created.Display()</td>
                                        <td>
                                            <a href="@Url.Action("MenuList", new { id = @item.Id })"><i class="icon-list"></i>菜单</a>
                                            <a href="@Url.Action("EditMenu", new { id = @item.Id })"><i class="icon-edit"></i>编辑</a>
                                            <a href="@Url.Action("RemoveMenu", new { id = @item.Id })" class="ajax-remove" data-name="@item.Name"><i class="icon-remove"></i>删除</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination pagination-right">
                    @Html.PagedListPager(
                    Model,
                    page => Url.Action(
                        "Index",
                        new RouteValueDictionary(new
                        {
                            page,
                            menuName
                        })),
                        NLayer.Presentation.WebHost.DisplayExtensions.PagedListRenderOptions
                    )
                </div>
            </div>
        </div>
    </div>

