<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NLayer</title>
        <meta charset="UTF-8" />    
        @Styles.Render("~/Content/css")
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>


        <div id="header">
            <h1>NLayer</h1>
        </div>

        <div id="search">
        </div>
        <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">个人资料</span></a></li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
            </ul>
        </div>

        @Html.Partial("_Menus")

        @Scripts.Render("~/bundles/jquery")

        <div id="content">

            @RenderBody()
        
            <div class="row-fluid">
                <div id="footer" class="span12">
                    2015 &copy; NLayer.
                </div>
            </div>

        </div>

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/unicorn")
        @RenderSection("scripts", required: false)
    </body>
</html>
