<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> 首页</a>
    <ul>
        <li><a href="@Url.Action("Index", "Home", new { area = "" }, null)"><i class="icon icon-home"></i> <span>首页</span></a></li>
        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>用户系统</span> <span class="label">3</span></a>
            <ul>
                <li><a href="@Url.Action("Index", "Role", new { area = "UserSystem" }, null)">角色管理</a></li>
                <li><a href="users.html">用户管理</a></li>
                <li><a href="menus.html">菜单管理</a></li>
            </ul>
        </li>
        <li class="active submenu open">
            <a href="#"><i class="icon icon-file"></i> <span>Bootstrap示例</span> <span class="label">5</span></a>
            <ul>
                <li class="active"><a href="@Url.Action("Buttons", "Bootstrap", new { area = "Samples" }, null)">按钮&amp;图标</a></li>
                <li><a href="@Url.Action("Elements", "Bootstrap", new { area = "Samples" }, null)">UI元素</a></li>
                <li><a href="@Url.Action("Tables", "Bootstrap", new { area = "Samples" }, null)">表格</a></li>
                <li><a href="@Url.Action("Forms", "Bootstrap", new { area = "Samples" }, null)">表单</a></li>
                <li><a href="@Url.Action("Layouts", "Bootstrap", new { area = "Samples" }, null)">布局</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="icon icon-inbox"></i> <span>其他</span></a>
        </li>
    </ul>

</div>
