@using NLayer.Application.Modules
@model List<NLayer.Infrastructure.Authorize.AuthObject.MenuForAuthorize>
@{
    var menuGroups = Model.Where(x => x.Module > 2).GroupBy(x => x.Module).OrderBy(x => x.Key);
}

<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> 首页</a>
    <ul>
        <li><a href="@Url.Action("Index", "Home", new { area = "" }, null)"><i class="icon icon-home"></i> <span>首页</span></a></li>
        <li class="submenu" data-menu="UserSystem">
            <a href="#"><i class="icon icon-th-list"></i> <span>用户系统</span> <span class="label">3</span></a>
            <ul>
                <li><a href="@Url.Action("Index", "Role", new { area = "UserSystem" }, null)">角色管理</a></li>
                <li><a href="@Url.Action("Index", "User", new { area = "UserSystem" }, null)">用户管理</a></li>
                <li><a href="@Url.Action("Index", "Menu", new { area = "UserSystem" }, null)">菜单管理</a></li>
            </ul>
        </li>
        <li class="submenu" data-menu="Bootstrap">
            <a href="#"><i class="icon icon-list"></i> <span>Bootstrap示例</span> <span class="label">5</span></a>
            <ul>
                <li><a href="@Url.Action("Buttons", "Bootstrap", new { area = "Samples" }, null)">按钮&amp;图标</a></li>
                <li><a href="@Url.Action("Elements", "Bootstrap", new { area = "Samples" }, null)">UI元素</a></li>
                <li><a href="@Url.Action("Tables", "Bootstrap", new { area = "Samples" }, null)">表格</a></li>
                <li><a href="@Url.Action("Forms", "Bootstrap", new { area = "Samples" }, null)">表单</a></li>
                <li><a href="@Url.Action("Layouts", "Bootstrap", new { area = "Samples" }, null)">布局</a></li>
            </ul>
        </li>
        @foreach (var g in menuGroups)
        {
            var moduleType = (NLayerModulesType)g.Key;
            var moduleName = NLayerModulesManager.Instance.GetModulesName(moduleType);
            <li class="submenu" data-menu="@moduleType">
                <a href="#"><i class="icon icon-list"></i> <span>@moduleName</span> <span class="label">@g.Count()</span></a>
                <ul>
                    @foreach (var m in g.ToList())
                    {
                        <li><a href="@m.MenuUrl">@m.MenuName</a></li>
                    }
                </ul>
            </li>
        }
        <li>
            <a href="#"><i class="icon icon-inbox"></i> <span>其他</span></a>
        </li>
    </ul>

</div>
