@using NLayer.Application.Modules
@{
    ViewBag.Title = "首页";
}

<div id="content-header">
    <h1>首页</h1>
</div>
<div id="breadcrumb">
    <a href="@Url.Action("Index", "Home", new { area = "" }, null)" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
</div>
<div class="container-fluid">
    
    <div class="row-fluid">
        
        <div class="span4">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-bookmark"></i>
                    </span>
                    <h5>系统模块</h5>
                </div>
                <div class="widget-content">
                    <p>
                        <label>@NLayerModulesType.BootstrapSamples.Display()</label>
                        <label>@NLayerModulesType.UserSystem.Display()</label>
                    </p>
                    <p>
                        @Html.DropDownList("module", NLayerModulesManager.Instance.ListAll().GetItemList("未选择", NLayerModulesType.UserSystem.ToString()))
                    </p>
                </div>
            </div>
        </div>
        
        <div class="span4">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-bookmark"></i>
                    </span>
                    <h5>用户系统</h5>
                    <span class="label label-info">Featured</span>
                </div>
                <div class="widget-content">
                    <p>
                        @Html.ActionLink("角色管理", "Index", "Role", new { area = "UserSystem" }, new { @class = "btn" })
                    </p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-bookmark"></i>
                    </span>
                    <h5>Bootstrap示例</h5>
                </div>
                <div class="widget-content">
                    <p>
                        @Html.ActionLink("按钮&图标", "Buttons", "Bootstrap", new { area = "Samples" }, new { @class = "btn" })
                    </p>
                    <p>
                        @Html.ActionLink("UI元素", "Elements", "Bootstrap", new { area = "Samples" }, new { @class = "btn" })
                    </p>
                    <p>
                        @Html.ActionLink("表格", "Tables", "Bootstrap", new { area = "Samples" }, new { @class = "btn" })
                    </p>
                    <p>
                        @Html.ActionLink("表单", "Forms", "Bootstrap", new { area = "Samples" }, new { @class = "btn" })
                    </p>
                    <p>
                        @Html.ActionLink("布局", "Layouts", "Bootstrap", new { area = "Samples" }, new { @class = "btn" })
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
