@using PagedList.Mvc
@model PagedList.IPagedList<NLayer.Application.UserSystemModule.DTOs.UserDTO>
    @{
        ViewBag.Title = "用户管理";
        var userName = ViewBag.UserName;
    }


    <div id="content-header">
        <h1>用户管理</h1>
    </div>
    <div id="breadcrumb">
        <a href="@Url.Action("Index", "Home", new { area = "" }, null)" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
        <a href="@Url.Action("Index")">用户管理</a>

    </div>
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                @using (Ajax.BeginForm("SearchUser", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ajaxRequestSuccess" }, new { @class = "form-inline" }))
                {
                    <section>
                        <input type="text" name="userName" id="userName" class="input-medium" placeholder="用户名称" value="@userName">&nbsp; &nbsp;
                        <button type="submit" class="btn btn-primary">查询</button>&nbsp; &nbsp;
                        <a href="@Url.Action("EditUser")" class="btn btn-success" id="addnew">新增用户</a>
                    </section>
                }
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>用户名称</th>
                                    <th>用户登录名</th>
                                    <th>邮箱</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.LoginName</td>
                                        <td>@item.Email</td>
                                        <td>@item.Created.Display()</td>
                                        <td>
                                            <a href="@Url.Action("EditUser", new { id = @item.Id })"><i class="icon-edit"></i>编辑</a>
                                            <a href="@Url.Action("RemoveUser", new { id = @item.Id })" class="ajax-remove" data-name="@item.Name"><i class="icon-remove"></i>删除</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination pagination-right">
                    @Html.PagedListPager(
                    Model,
                    page => Url.Action(
                        "Index",
                        new RouteValueDictionary(new
                        {
                            page,
                            userName
                        })),
                        NLayer.Presentation.WebHost.DisplayExtensions.PagedListRenderOptions
                    )
                </div>
            </div>
        </div>
    </div>

