@{
    ViewBag.Title = "角色管理";
    var groupName = ViewBag.GroupName;
    var groupId = ViewBag.GroupId;
}
@model NLayer.Application.UserSystemModule.DTOs.RoleDTO
<div id="content-header">
    <h1>角色</h1>
</div>
<div id="breadcrumb">
    <a href="@Url.Action("Index", "Home", new { area = "" }, null)" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
    <a href="@Url.Action("Index")">角色管理</a>
    <a href="@Url.Action("RoleList", new { groupId = @groupId })">@groupName 角色组</a>
    <a class="current">角色</a>
</div>
<div class="container-fluid">


    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-align-justify"></i>
                    </span>
                    <h5>添加 / 编辑角色</h5>
                </div>
                <div class="widget-content nopadding">
                    @using (Ajax.BeginForm("EditRole", new { groupId = @groupId, id = Model.Id }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ajaxRequestSuccess" }, new { @class = "form-horizontal" }))
                    {
                        <div class="control-group">
                            <label class="control-label">名称</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Name, new { placeholder = "角色名称" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">描述</label>
                            <div class="controls">
                                @Html.TextAreaFor(x => x.Description, new { placeholder = "对该角色的描述" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">排序</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.SortOrder, new { placeholder = "排序" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>